    * {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    body {
        font-family: Roboto, Arial;
    }
    
    .first-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f5f5f5;
        height: 36px;
    }
    
    .first-section {
        display: flex;
        padding-left: 40px;
    }
    
    .second-section {
        display: flex;
        padding-right: 50px;
    }
    
    .jordan {
        margin-right: 25px;
    }
    
    .info-section {
        width: 40px;
        margin-left: 3px;
        border-right: 0.125rem solid gray;
        font-size: 12px;
        height: 10px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    
    .help {
        width: 40px;
    }
    
    .join {
        width: 50px;
    }
    
    .sign-in {
        border: none;
    }
    
    .second-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        height: 60px;
    }
    
    .middle-section {
        margin-left: 190px;
    }
    
    .middle-section button {
        background-color: white;
        color: black;
        border: none;
        font-size: 16px;
        margin-left: 8px;
        transition: border-bottom 0.15s;
        height: 60px;
        cursor: pointer;
    }
    
    .middle-section button:hover {
        border-bottom: 3px solid black;
        height: 57px;
    }
    
    .right-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 273px;
        padding-right: 50px;
        position: relative;
    }
    
    .search {
        background-color: #f5f5f5;
        padding: 13px 12px;
        border: none;
        border-radius: 30px;
    }
    
    .search::placeholder {
        color: rgb(183, 183, 183);
        font-size: 16px;
        padding-left: 30px;
    }
    
    .fa-magnifying-glass {
        position: absolute;
        padding-left: 10px;
        font-size: 20px;
    }
    
    .third-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: #f5f5f5;
    }
    
    .less-then {
        width: 620px;
        display: flex;
        justify-content: flex-end;
    }
    
    .sale-info {
        font-size: 16px;
        position: relative;
        margin-right: 100px;
    }
    
    .greather-then {
        width: 635px;
    }
    
    .sale-info span {
        width: 100px;
        font-size: 10px;
        text-decoration: underline;
        position: absolute;
        left: 270px;
        top: 5px;
    }