.info-about-product {
    display: flex;
    justify-content: space-between;
    padding-left: 39px;
    padding-right: 50px;
    height: 66px;
}

.model {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
}

.hide-filter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 130px;
}

.span1 {
    font-size: 14px;
    margin-top: 2px;
}

.span2 {
    font-size: 23px;
    font-weight: 400;
}

.sort-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    width: 80px;
}

.sort-by span {
    font-size: 30px;
    margin-bottom: 6px;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 16px 48px;
    font-size: 16px;
}

.air-max-plus {
    margin-top: 15px;
    height: 72px;
    width: 190px;
    border-bottom: 0.1px solid rgb(213, 213, 213);
}

.pick-up {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 185px;
}

.find-store {
    width: 190px;
    padding-top: 15px;
    padding-bottom: 40px;
    border-bottom: 0.1px solid rgb(213, 213, 213);
}

.filter-by-store {
    border-bottom: 1.5px solid black;
    width: fit-content;
    padding-bottom: 3px;
}

.choose-gender {
    width: 190px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-bottom: 0.1px solid rgb(213, 213, 213);
}

.gender {
    width: 190px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
}

.sports-div {
    padding-top: 10px;
    width: 190px;
    padding-bottom: 23px;
    border-bottom: 0.1px solid rgb(213, 213, 213);
}

.sports {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-bottom: 20px;
}

.color-div {
    padding-top: 10px;
}

.color {
    width: 190px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.grid-colors {
    display: grid;
    grid-template-columns: 27px 27px 27px;
    column-gap: 37px;
    row-gap: 37px;
    padding-left: 20px;
}

.colors {
    position: relative;
    background-color: black;
    height: 27px;
    border-radius: 30px;
}

.colors p {
    position: absolute;
    top: 30px;
    font-size: 12px;
}

#blue {
    background-color: #1790c8;
}

#brown {
    background-color: #825d41;
}

#grey {
    background-color: #808080;
}

#orange {
    background-color: #f36b26;
}

#white {
    background-color: white;
    border: 0.1px solid rgb(198, 198, 198);
}