* {
    margin-bottom: 0;
    margin-bottom: 0;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: -10px;
}

p {
    font-family: Arial;
}

div {
    margin-left: 100px;
    margin-top: 100px;
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.07), 3px 3px 5px rgba(0, 0, 0, 0.07);
    display: inline-block;
    height: 310px;
}

.oliver {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: -10px;
}

.friends {
    margin-bottom: 30px;
    font-size: 14px;
    margin-left: 10px;
    color: #676464;
    margin-bottom: 15px;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    background-color: #366ad2;
    color: white;
    cursor: pointer;
    border: none;
}