.red-circle {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.circle {
    margin-top: 120px;
    margin-left: 70px;
    ;
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50px;
}