* {
    font-family: Arial;
    margin-bottom: 0;
    margin-top: 0;
}

.request {
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 30px;
}

.enter {
    display: block;
    margin-bottom: 10px;
    background-color: #f1eff1;
    width: 300px;
    height: 30px;
    border: none;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#destination {
    margin-bottom: 40px;
}

.request-now {
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    margin-right: 20px;
}

.shedule {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
}