.gray-div {
    background-color: gray;
    width: 200px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 200px;
}

.close-button {
    position: absolute;
    background-color: black;
    height: fit-content;
    border-radius: 30px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    right: 178px;
    bottom: 178px;
    color: white;
}

.time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 7px;
    right: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    font-family: Arial;
}