body {
    margin: 0;
}

p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    background-color: lightblue;
    width: 150px;
}

.middle-section {
    background-color: lightpink;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}

.right-section {
    background-color: lightblue;
}

.thumbnail {
    width: 100%;
    height: 228.55px;
    /*
    height: 300px;
    object-fit: cover;
    object-fit: contain;
    object-position: bottom;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    */
}

.search-bar {
    display: block;
}

.video-title {
    width: 240px;
    margin-top: 0;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-preview {
    /*
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 350px;
    */
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-author,
.video-stats {
    width: 300px;
    display: block;
}

.channel-picture {}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-info {}

.profile-picture {
    width: 40px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 20px;
}

.video-author {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}

.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

#vuk {
    border-radius: 50px;
}

#yt-logo {
    width: 80px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
}

#hamburger-meny {
    height: 24px;
    overflow: hidden;
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
}

.search-button {
    width: 64px;
    display: inline-block;
    margin-right: 10px;
    height: 40px;
    margin-top: 10px;
}

#search-icon {
    width: 20px;
    height: 20px;
    padding: 0;
}

#microphone {
    width: 20px;
}

.microphone-div {
    display: inline-block;
    background-color: gray;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    /*
    padding-left: 16px;
    padding-right: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 70px;
    */
    height: 35px;
    width: 35px;
    border-radius: 30px;
    padding-bottom: 2px;
    padding-right: 2px;
}

#camera {
    width: 30px;
}

#ring {
    width: 30px;
}

.my-logo {
    width: 30px;
    margin-left: 10px;
    border-radius: 50px;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: end;
}

.middle-section {
    display: grid;
    grid-template-columns: 360px 50px 30px;
}

.search-bar {
    height: 34px;
    width: 538px;
    margin-top: 10px;
}

.right-section {
    padding-top: 10px;
    width: 150px;
    display: grid;
    grid-template-columns: 35px 35px 35px;
    column-gap: 5px;
}

#camera {
    width: 20px;
    height: 20px;
}

#ring {
    width: 20px;
    height: 20px;
}