.header1 {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #A30003;
    width: 100%;
}

.content {
    width: 1460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
}

.eng {
    margin-right: 30px;
}

.eng i {
    margin-right: 10px;
    font-size: 15px;
}

.eng a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.my-courses i {
    margin-right: 10px;
    font-size: 16px;
}

.my-courses a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.name {
    margin-right: 20px;
}

.name img {
    height: 27px;
    width: 30px;
    border: 1px solid white;
    margin-right: 10px;
}

.name a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.right {
    display: flex;
}

.email {
    margin-right: 20px;
}

.email i {
    font-size: 18px;
    color: white;
    margin-top: 7px;
    margin-right: 10px;
}

.header2 {
    display: flex;
    justify-content: center;
    height: 80px;
}

.header2 .content {
    width: 1500px;
}

.e-learning h1 {
    color: #FFB005;
    font-size: 70px;
    font-weight: bold;
}