body {
    height: 600px;
}

p {
    font-family: Arial;
}

* {
    margin-top: 0;
    margin-bottom: 0;
}

.right {
    background-color: green;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    height: 100vh;
}

.entire-page {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-title {
    width: 350px;
    height: 135px;
    background-color: white;
    padding-left: 15px;
    border-radius: 10px;
}

.model-text {
    font-weight: bold;
    font-size: 25px;
}

.model-div {
    margin-top: 20px;
    margin-bottom: 10px;
}

.this-div {
    margin-bottom: 15px;
}