* {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

p {
    font-family: Arial;
}

.big-div {
    display: flex;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 300px;
    border: 1px solid black;
}

.info-div {
    width: 150px;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 13px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fa-solid {
    color: gray;
    font-size: 15px;
    font-weight: bold;
}

.fa-plus {}

.info-p {
    font-size: 13px;
}

.new-videos {
    margin-bottom: 15px;
    font-size: 14px;
}

.updates {
    margin-bottom: 15px;
    font-size: 14px;
}

.faq {
    margin-bottom: 15px;
    font-size: 14px;
}