body {
    height: 3000px;
}

.right {
    background-color: green;
    color: white;
    position: fixed;
    right: 0;
    height: 100px;
    top: 0;
}

.entire-page {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}