* {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-family: Arial;
}

.main-div {
    margin-left: 20px;
    margin-top: 200px;
    margin-right: 0;
    width: 200px;
    box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.15), 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.oliver-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.oliver {
    margin-top: 10px;
    margin-left: 7px;
    font-weight: bold;
    margin-bottom: 5px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.friends {
    display: inline-block;
    vertical-align: top;
    height: 34px;
}

.mutal-friends {
    margin-left: 3px;
    text-align: center;
    margin-top: 5px;
    color: rgb(100, 98, 98);
}

.logo-image {
    width: 30px;
    border-radius: 20px;
}

.friends-div {
    margin-bottom: 10px;
}

button {
    margin-left: 7px;
    background-color: #237add;
    color: white;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-friend {
    height: 40px;
}

.grid-div {
    padding-left: 200px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    align-items: center;
    column-gap: 20px;
}